* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Heebo', sans-serif;
}

body {
    margin: auto;
    width: 75vw;
    background-color: #e5e5e6;
}

nav {
    background-color: #ffffff;
    padding-right: 25px;
    display: flex;
    justify-content: end;
}

nav a {
    color: #1D1D1F;
    font-weight: 500;
    font-size: 20px;
    margin:28px 35px 0px 0px;
    text-decoration: none;
}

nav a:hover:not(.active) {
    color: #8695a4;
}

.active {
    color: #ff6464;
}

.content_top {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

.content_top_blog {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 174px;
}

.content_top_blog h1 {
    margin: 100px 0px 30px 0px;
    font-size: 44px;
}

.content_top_left {
    display: flex;
    flex-basis: 500px;
    padding: 70px 0px;
    flex-direction: column;
}

.content_top_left h1 {
    margin-top: 100px;
    font-size: 44px;
}

.content_top_left p {
    margin-top: 32px;
}

.content_top_left button {
    margin-top: 32px;
    width: 208px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #ff6464;
    font-size: 20px;
    padding: 0.5em 1em;
}

.content_top_right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content_top_right img {
    border-radius: 50%;
    box-shadow: -8px 12px 0px #edf7fa;
}

.recent{
    display: flex;
    flex-direction: column;
    background-color: #edf7fa;
    padding: 32px 150px;
    gap: 12px;
}

.recent_blog{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0px 150px;
    gap: 12px;
}

.recent_blog hr {
    margin: 0px 24px;
}

.recent_top {
    display: flex; 
    justify-content: space-between;
}

.recent_top p {
    position: relative;
    bottom: 8px;
    font-size: 22px;
}

.recent_top a {
    text-decoration: none;
    color: #00A8CC;
    font-size: 16px;
}

.recent_bot {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recent_content {
    flex-grow: 1;
    flex-basis: 300px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 4px;
}

.recent_content h1 {
    font-size: 26px;
}


.recent_content p:nth-child(2) {
    width: 100%;
    padding: 20px 0px;
    font-size: 18px;
}

.recent_content p:nth-child(3) {
    font-size: 16px;
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 28px 150px;
}

.featured hr {
    width: 100%;
}

.featured p:nth-child(1) {
    align-self: flex-start;
    font-size: 22px;
}

.featured_list {
    display: flex;
    flex-wrap: wrap;
}

.featured_list img {
    border-radius: 6px;
    margin: 30px 0px;
}

.featured_list_right {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 20px;
}

.featured_list_right_mid {
    padding: 20px 0px;
    display: flex;
    gap: 25px;
}

.featured_list_right_mid  div {
    background-color: #142850;
    text-align: center;
    color: #ffffff;
    width: 62px;
    height: 25px;
    font-size: 18;
    font-weight: bold;
    border-radius: 16px;
}

.featured_list_right_mid  p {
    color: #8695a4;
    font-size: 18px;
}

footer {
    background-color: #ffffff;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_footer i {
    padding: 15px;
}

.content_footer {
    font-size: 14px;
    margin: 24px 24px 50px 24px;
}

@media screen and (max-width: 1392px) {
    nav {
        padding: 0px;
        justify-content: center;
    }
    nav a:nth-child(3){
        margin-right: 0px;
    }
    .content_top_left h1 {
        margin-top: 50px;
    }
    .content_top_left p {
        width: 80%;
    }
    .content_top {
        padding: 0px 0px;
        flex-direction: column-reverse;
    }
    .content_top_right img {
        margin-top: 50px;
    }
    .content_top_left {
        align-items: center;
        text-align: center;
        padding: 0px 0px 50px 0px;
    }
}

@media screen and (max-width: 1127px) {
    .featured {
        padding: 28px 20px;
    }
    
    .featured p:nth-child(1) {
        text-align: center;
    }
    .featured_list img {
        width: 100%;
    }
    .recent{
        padding: 32px 10px;
    }
    .recent_blog{
        padding: 32px 10px;
    }
    .recent_content {
        flex-grow: 1;
        flex-basis: 500px;
    }
    .content_top_blog {
        justify-content: center;
        padding: 0px;
    }
    .content_top_blog h1 {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 784px) {
    .recent_top {
        justify-content: center;
    }
    .recent_top a {
        display: none;
      }
  }
